<div class="signup">
    <h1>Inscription</h1>
    <div class="background">
        <form class="signupForm" [formGroup]="signupForm">
            
            <input type="email" class="email" placeholder="Email" formControlName="email">
            <input type="password" class="password" placeholder="Mot de passe" formControlName="password">
            <button [disabled]="signupForm.invalid" (click)="onSignup()" type="submit">Je m'inscris</button>
            <p class="textError" *ngIf="errorMsg">{{ errorMsg }}</p>
        </form>
        <a routerLink="/login">J'ai déjà un compte</a>
    </div>
</div>
