<div class="signup">
    <h1>Inscription</h1>
    <div class="background">
        <form class="signupForm">
            <input type="text" class="nom" placeholder="Nom">
            <input type="text" class="prenom" placeholder="Prénom">
            <input type="email" class="email" placeholder="Émail">
            <input type="password" class="password" placeholder="Mot de passe">
        </form>
        <button type="submit">Je m'inscris</button>
        <a routerLink="/login">J'ai déjà un compte</a>
    </div>
</div>
