<app-header></app-header>
<div class="profil">
    <h1>Mon profil</h1>
    <div class="background">
        <!-- contenu qui changera en fonction de la valeur de l'input -->
        <div class="profilContenu">
            <div class="profilValue">
                <p class="nom">Vanlerberghe</p>
                <p class="prenom">Claire</p>
                <p class="email">valeur adresse mail ici </p>
                <p class="mdp">en petit point</p>
            </div>
            <form class="profilForm">
                <input type="text" class="nom" placeholder="Nom">
                <input type="text" class="prenom" placeholder="Prénom">
                <input type="email" class="email" placeholder="Émail">
                <input type="password" class="password" placeholder="Mot de passe">
            </form>
        </div>
        <button type="submit">Sauvegarde</button>
    </div>
</div>
