<div class="login">
    <h1>Connexion</h1>
    <div class="background">
        <form class="loginForm">
            <input type="text" class="nom" placeholder="Nom">
            <input type="text" class="prenom" placeholder="Prénom">
            <input type="email" class="email" placeholder="Émail">
            <input type="password" class="password" placeholder="Mot de passe">
        </form>
        <button type="submit">Je m'inscris</button>
        <a routerLink="/">Je n'ai pas encore de compte</a>
    </div>
</div>
