<app-header></app-header>

<div class="home">

    <div class="homeHeader">

        <div class="homeSearch">

            <input type="search" placeholder="Recherche">

            <img src="../../assets/search.png" alt="icone de recherche">

        </div>

        <button class="homeFilterButton">Filtre</button>

        <button class="homeSortButton">Trier</button>

        <button class="homeAddButton"><img src="../../assets/add.png" alt="icone d'ajout"></button>

    </div>

    <div class="cards">

        <a href="/notes/:id" class="oneCard">

            <p class="cardDate">12/04/2023</p>

            <p class="cardTitle">Titre de la note</p>

            <p class="cardContenu">Début de la note dans un conteneur à width défini puis ... pour ce qui dépasse</p>

            <p class="cardTag">Tag Tag Tag Tag</p>

        </a>

        <a href="/notes/:id" class="oneCard">

            <p class="cardDate">12/04/2023</p>

            <p class="cardTitle">Titre de la note</p>

            <p class="cardContenu">Début de la note dans un conteneur à width défini puis ... pour ce qui dépasse</p>

            <p class="cardTag">Tag Tag Tag Tag</p>

        </a>

        <a href="/notes/:id" class="oneCard">

            <p class="cardDate">12/04/2023</p>

            <p class="cardTitle">Titre de la note</p>

            <p class="cardContenu">Début de la note dans un conteneur à width défini puis ... pour ce qui dépasse</p>

            <p class="cardTag">Tag Tag Tag Tag</p>

        </a>

        <a href="/notes/:id" class="oneCard">

            <p class="cardDate">12/04/2023</p>

            <p class="cardTitle">Titre de la note</p>

            <p class="cardContenu">Début de la note dans un conteneur à width défini puis ... pour ce qui dépasse</p>

            <p class="cardTag">Tag Tag Tag Tag</p>

        </a>

        <a href="/notes/:id" class="oneCard">

            <p class="cardDate">12/04/2023</p>

            <p class="cardTitle">Titre de la note</p>

            <p class="cardContenu">Début de la note dans un conteneur à width défini puis ... pour ce qui dépasse</p>

            <p class="cardTag">Tag Tag Tag Tag</p>

        </a>

        <a href="/notes/:id" class="oneCard">

            <p class="cardDate">12/04/2023</p>

            <p class="cardTitle">Titre de la note</p>

            <p class="cardContenu">Début de la note dans un conteneur à width défini puis ... pour ce qui dépasse</p>

            <p class="cardTag">Tag Tag Tag Tag</p>

        </a>

        <a href="/notes/:id" class="oneCard">

            <p class="cardDate">12/04/2023</p>

            <p class="cardTitle">Titre de la note</p>

            <p class="cardContenu">Début de la note dans un conteneur à width défini puis ... pour ce qui dépasse</p>

            <p class="cardTag">Tag Tag Tag Tag</p>

        </a>

        <a href="/notes/:id" class="oneCard">

            <p class="cardDate">12/04/2023</p>

            <p class="cardTitle">Titre de la note</p>

            <p class="cardContenu">Début de la note dans un conteneur à width défini puis ... pour ce qui dépasse</p>

            <p class="cardTag">Tag Tag Tag Tag</p>

        </a>

    </div>

</div>